body {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
}

main {
    width: 90%;
    margin: auto;
    display: flex;
}  

h1 {
    text-align: center;
}

.salle {
    background-image: url("../images/salle.jpg");
}