body {
    font-family: 'M PLUS 1p', sans-serif;
}

main {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#theme {
    float: right;
    padding: 7px 10px;
    border-radius: 7px;
}

section {
    margin-top: 20px;
}

article {
    border-radius: 11px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

article img {
    width: 100%;
    border-radius: 9px 9px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
}

.text {
    padding: 10px 20px;
}

article h2 {
    margin-top:0;
    margin-bottom: 5px;
    font-weight: 500;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

article p {
    font-size: 0.9rem;
}

#addActu {
    background-color: #4B4BFF;
    color: #FFF;
    padding: 5px 10px 28px 10px;
    text-decoration: none;
    border-radius: 5px;
    height: 25px;
}



@media (min-width:600px){
    main {
        width: 60%;
    }

    article {
        flex-direction: row;
    }

    article img {
        width: 30%;
        border-radius: 9px 0 0 9px;
        -o-object-fit: cover;
       object-fit: cover;
    }
}





