body {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
}

main {
    width: 90%;
    margin: auto;
    display: flex;
}   

.SecondNav {
    display: none;
}

.sectionPrincipal{
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.modal {
    display: none;
}

.modalOn {
    display: block;
    border: #4B4BFF 2px solid;
    width: 85%;
    padding: 20px;
    border-radius: 10px;
}

.modalOn div {
    margin-bottom: 15px;
}

.modalOn h3 {
    margin: 0;
}

.modalOn ul {
    list-style-type: none;
    padding-left: 15px;
    margin: 0;
}  

#addMenu, a#addMenu\ add2 {
    background-color: #4B4BFF;
    color: #FFF;
    padding: 5px 10px 28px 10px;
    text-decoration: none;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 10px;
}

.modal #addMenu {
    margin-left: 100px;
}


h1 {
    text-align: center;
    font-size: 1.8rem;
}

button {
    border: none;
    border-radius: 20px;
    color: #FFF;
    background-color: #4B4BFF;
    padding: 10px 20px;
    font-size: 1.1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;  
}

select {
    padding: 7px 10px;
    border-radius: 7px;
    height: 37px;
    margin-bottom: 15px;
}

section {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px;
}

.lieux {
    min-height: 59vh;
    margin-bottom: 20px;
}

.resto {
    background-color: #dedede;
    width: 195px;
    height: 250px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;  
}

.etat {
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

.vert {
    background-color: green;
}

.rouge {
    background-color: red;
}

.resto h2 {
    width: 120px;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
}

.horaire ul {
    list-style-type: none;  
}

.resto a {
    color: #000;
}




@media (min-width: 900px) {
    main {
        margin: 0;
        width: 100%;
    }

    button {
        display: none;
    }

    .SecondNav {
        display: block;
        order: 2;
        width: 45%;
        max-width: 545px;
        background-color: #8e8e8e;
        padding: 4%;
    }

    .SecondNav h2 {
        margin: 0;
    }

    .SecondNav div {
        background-color: #dedede;
        padding: 20px;
        border-radius: 7px;
        text-align: center;
        margin-bottom: 15px;
    }

    .SecondNav h3 {
        margin: 0;
    }

    .SecondNav ul {
        display: block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 5px;
    }
    
    .sectionPrincipal {
        padding: 30px;
        min-width: 63%;
    }

    .modal {
        display: none;
    }

    a#addMenu\ add2 {
        display: none;
    }
}