*,
*::after,
*::before {
    box-sizing: border-box;
}
body,html {
    margin: 0;
}
/* Images  */
img.logoheader {
    height: 46.8px;
}
/* ------- */
.desktopheader {
    display: none;
}
a {
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    background-color: #2323A5;
}
section {
    height: 100vh;
}
footer {
    height: 60px;
    width: 100%;
    background-color: #2323A5;
    display: flex;
    align-items: center;
    gap: 10%;
}
.headergroupphone {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5%;
    margin-left: auto;
}
.footwrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.linkfooter {
    color: white;
    font-size: 0.8em;
    text-align: justify;
    text-decoration: none;
}

a.logoheader {
    /* height: fit-content; */
    margin-left: 2%;
    margin-top: 0.5%;
}

@media (min-width: 900px) {
    .phonetabheader {
        display: none;
    }
    .desktopheader {
        display: flex;
    }
    a {
        color: white;
        text-decoration: none;
        text-wrap:nowrap;
        /* width: fit-content; */
    }
    nav {
        height: 80px;
        justify-content: center;
        gap: 5%;
    }
    footer {
        height: 90px;
    }
    .flexwrapper1 {
        display: flex;
        gap: 40px;
    }
    .flexwrapper2 {
        display: flex;
        gap: 40px;
    }
}