*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
}

h1{
    text-align: center;
}
main {
    width: 80%;
    margin: auto;
    position: relative;
}

img{
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
    border: 1px solid black;
}


ul {
    list-style-type: none;
    margin-left:px;
    margin-right:5px;
    padding: 0;
    margin-bottom:10px;
    margin-top:10px;
    
}

.boite-liste {
    background-color:#D9D9D9 ;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden; /* To clear floats */
   
}

.boite-liste ul {
    padding: 5px; 
    margin-left:20px;/* Add padding to the ul element */
}

.boite-liste li {
    margin-bottom: 5px; /* Add margin between list items */
}

a.bouton{
    height:50px;
}

.bouton {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the start (left) */
    text-align: center;
    text-decoration: none;
    background: #D9D9D9;
    color: red;
    padding: 5px 15px;
    border-radius: 30px;
    width: 150px;
    margin: auto;
}

.deconnexion {
    border: none;
}

img.deconnexion {
    width: 15px;
    height: auto;
    margin-right: 10px; /* Add margin to the right of the image */
}

h1.info-gene{
    margin-top:30px;
    padding-top:20px;
    margin-bottom:10px;
    font-size:1.5rem;
    border-top:solid 1.5px black;
}


