body {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
}

main {
    width: 90%;
    margin: auto;
}  

section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

.salle, .materiel {
    background-size: cover;
    height: 90vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.salle {
    background-image: url("./img/temporaire.jpeg");
}

.materiel {
    background-image: url("./img/temporaire.jpeg");
}

.aReser {
    color: #FFF;
    text-decoration: none;
    background-color: #1c1cc8;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 83%;
}

.salle .aReser {
    right: 40%;
}

.materiel .aReser {
    right: 30%;
}

@media (min-width: 800px){
    section {
        flex-direction: row;
        justify-content: center;
        height: 57vh;
    }

    .salle, .materiel{
        width: 38vw;
        height: 38vw;
    }

    .aReser {
        padding: 10px 15px;
        top: 83%;
    }

    .salle .aReser {
        right: 10%;
    }
    
    .materiel .aReser {
        right: 10%;
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (min-width: 950px){
    .salle, .materiel{
        width: 35vw;
        height: 35vw;
    }
}

@media (min-width:  1010px){
    section {
        height: 61vh;}

    .salle, .materiel{
        width: 30vw;
        height: 30vw;
    }
}


/* Formulaire */

form {
    background-color: #dbdbdb;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 20px;
}

input, select {
    background-color: #dbdbdb;
    padding: 10px;
    border: 2px solid #4e4e4e;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 100%;
}

label {
    font-size: 0.8rem;
}

#reserverSal, #reserverMat {
    background-color: #1c1cc8;
    color: #FFF;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    position: relative;
    top: 10px;
}

#reserverSal {
    left: 47%;
}

#reserverMat {
    left: 39%;
}

@media (min-width: 800px){
    form {
        width: 60%;
        padding: 30px 40px;
        margin: auto;
        margin-bottom: 20px;
    }

    #reserverSal {
        left: 81%;
    }
    
    #reserverMat {
        left:57%;
    }

    .reserver {
        height: 76vh;
    }
}

