body {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
}

main {
    width: 90%;
    margin: auto;
}  

section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

.salle, .materiel {
    background-size: cover;
    height: 90vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.salle {
    background-image: url("./img/temporaire.jpeg");
}

.materiel {
    background-image: url("./img/temporaire.jpeg");
}

.aReser {
    color: #FFF;
    text-decoration: none;
    background-color: #1c1cc8;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 83%;
}

.salle .aReser {
    left: 40%;
}

.materiel .aReser {
    left: 30%;
}

@media (min-width: 800px){
    section {
        flex-direction: row;
        justify-content: center;
    }

    .salle, .materiel{
        width: 40vw;
        height: 40vw;
    }

    .aReser {
        padding: 10px 15px;
        top: 89%;
    }

    .salle .aReser {
        left: 65%;
    }
    
    .materiel .aReser {
        left: 60%;
    }
}


/* Formulaire */

form {
    background-color: #dbdbdb;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 20px;
}

input, select {
    background-color: #dbdbdb;
    padding: 10px;
    border: 2px solid #4e4e4e;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 100%;
}

label {
    font-size: 0.8rem;
}

#reserver {
    background-color: #1c1cc8;
    color: #FFF;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    position: relative;
    left: 48%;
    top: 10px;
}